.bG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/headerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.appBarBg {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  color: aliceblue;
}
.btn {
  transition: 0.3s;
  color: aliceblue;
}
.btn:hover {
  color: #00c9ff; /* fallback for old browsers */
}
.footer {
  color: aliceblue;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(6, 111, 113) 0.1%,
    rgba(0, 94, 120, 1) 94.2%
  );
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 900px) {
  .navItemsLg {
    display: none;
  }
}

.drawer {
  background: rgba(22, 21, 21, 0.35);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: aliceblue;
}
